# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Umgebungsvariablen
.env

# Betriebssystem-Dateien
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Temporäre Dateien
tmp/
temp/

# Builds
dist/
build/

# Datenbank
*.sqlite

# Uploads
uploads/

# Docker
hymnoscribe_db/